.hero-text-shadow {
  text-shadow:
    0 5px 20px #19b5ca66,
    0 -5px 15px #19b5ca33,
    0 0 30px #19b5ca55;
}

.text-glow {
  text-shadow:
    0 2px 10px var(--color-primary),
    0 -2px 10px var(--color-primary),
    0 0 30px var(--color-primary);
}

.glow {
  box-shadow: 0 0 8px var(--color-primary), 0 0 12px var(--color-primary);
}
