@import "tailwindcss";
@plugin "daisyui";

/* Global font settings */
* {
  font-family: 'Darker Grotesque', sans-serif;
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --bg-color: oklch(0.17 0.0048 196.72);
  --border-color: oklch(1 0 0);
  --initial-border-color: oklch(0.4 0 0);
  --card-textcolor: oklch(0.73 0.0011 17.19);
  --link-textcolor: oklch(0.86 0 0);
  --color: oklch(0% 0 0);
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-400: oklch(19.08% 0.01 254.77);
  --color-base-500: oklch(17.01% 0.008 255.45);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(75.16% 0.166 50.82);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(20% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --bg-color: oklch(0.98 0.0041 91.45);
  --border-color: oklch(0 0 0);
  --initial-border-color: oklch(0.83 0.0011 17.18);
  --card-textcolor: oklch(0.19 0.0011 17.19);
  --link-textcolor: oklch(0.27 0.0011 17.19);
  --color: oklch(100% 0 0);
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-400: oklch(90% 0 0);
  --color-base-500: oklch(85% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(71.14% 0.129 218.98);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(92% 0.004 286.32);
  --color-neutral-content: oklch(21% 0.006 285.885);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.bg-base-400 {
  background-color: var(--color-base-400);
}

.bg-base-500 {
  background-color: var(--color-base-500);
}
